*{
    margin: 0;
    padding: 0;
}
.calculator{
   background:green;
   padding: 30px;
   border-radius: 10px;
}

form .answer{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;

}
form .answer input{
   text-align: right;
   flex: 1;
   font-size: larger;
   box-shadow: none;
}
.calculator form input{
    padding: 0px;
    outline:0px;
    box-shadow:10px;
    box-shadow:whitesmoke;
    cursor: pointer;
    width: 70px;
    height:70px;
    border-radius: 10px;
    font-size:larger;
}
 form .value input:hover{
    background-color:lightgrey;
    color: black;
}